:root{
    /* Colors Edit here only */
    --background-color: #333;
    --primary-color: #3498db;
    --secondary-color: #f39c12;
    --border-color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--background-color);
}

#Strength, #Endurance, #Agility {
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--border-color);
}