:root{
    /* Colors Edit here only */
    --background-color: #697D73;
    --primary-color: #71A78D;
    --primary-text-color: #333;
    --secondary-color: #f39c12;
    --border-color: #ccc;
    --inputbox-color: #e8f0fe;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: rotateGradient 260s linear infinite;
    background: linear-gradient(to right, 
    #71A78D 0%, 
    #5E8C79 7%, 
    #507C67 14%, 
    #456F5A 21%, 
    #41524A 28%, 
    #3D453D 35%, 
    #20332A 42%, 
    #244029 49%, 
    #23402A 56%, 
    #2E472F 63%, 
    #34523A 70%, 
    #3C5F3E 77%, 
    #45623A 84%, 
    #4F683A 91%, 
    #57733A 98%, 
    #68983A 100%);
    background-size: 1400% 1400%;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
}

#logo {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.input-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/*-------------------------------Atribute Box------------------------------*/
#Strength, #Endurance, #Agility {
    padding: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#Strength h1, #Endurance h1, #Agility h1{
    color: var(--primary-text-color);
    font-size: 20px;
}

#Strength p, #Endurance p, #Agility p{
    color: var(--primary-text-color);
    font-size: 15px;
    margin-bottom: 1px;
    margin-top:2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    width: 250px; /* Set the width of the input box */
    padding: 12px 20px; /* Padding inside the input */
    margin: 8px 0; /* Margin around the input */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    font-size: 16px; /* Font size for better readability */
    background-color: white; /* Background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

input[type="number"]:hover {
    background-color: var(--inputbox-color);
    box-shadow: 0 4px 8px rgba(102, 175, 233, 0.5);
    transform: scale(1.05);
}

input[type="number"]:focus{
    outline: none;
    box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
}

/*-------------------------------Name------------------------------*/
#nameFields{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

#name {
    width: 250px; /* Set the width of the input box */
    padding: 12px 20px; /* Padding inside the input */
    margin: 8px 0; /* Margin around the input */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    font-size: 16px; /* Font size for better readability */
    background-color: white; /* Background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#name:focus {
    outline: none;
    box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
}

#name:hover {
    background-color: var(--inputbox-color);
    box-shadow: 0 4px 8px rgba(102, 175, 233, 0.5);
    transform: scale(1.05);
}

#nameText{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*-------------------------------Buttons------------------------------*/
.button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#back_button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    justify-content: flex-end;
}

#next_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

#submit_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    justify-content: flex-end;
}

/*-------------------------------Page 2------------------------------*/

#content2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
}

#upperContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
}

#upperContainer h1{
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

#gameContainer{
    margin-top:auto;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:5%;
    width: 300px;
    height: 300px;
    background-color: #333;
}

#summaryBox{
    width: 820px;
    background-color: #3498db;
}

#playerStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

#player_stat{
    width: 100%;
}