:root{
    /* Colors Edit here only */
    --background-color: #333;
    --primary-color: #3498db;
    --primary-text-color: #333;
    --secondary-color: #f39c12;
    --border-color: #ccc;
    --inputbox-color: #e8f0fe;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--background-color);
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
}

#logo {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.input-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/*-------------------------------Atribute Box------------------------------*/
#Strength, #Endurance, #Agility {
    padding: 5px;
    border: 1px solid var(--border-color);
    display: none;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#Strength, #Endurance, #Agility h1{
    color: var(--primary-text-color);
    font-size: 15px;
}

#Strength, #Endurance, #Agility p{
    color: var(--primary-text-color);
    font-size: 15px;
}

/*-------------------------------Name------------------------------*/
#nameFields{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

#name {
    width: 250px; /* Set the width of the input box */
    padding: 12px 20px; /* Padding inside the input */
    margin: 8px 0; /* Margin around the input */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    font-size: 16px; /* Font size for better readability */
    background-color: white; /* Background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#name:focus {
    outline: none;
    box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
}

#name:hover {
    background-color: var(--inputbox-color);
    box-shadow: 0 4px 8px rgba(102, 175, 233, 0.5);
    transform: scale(1.05);
}

#nameText{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*-------------------------------Buttons------------------------------*/
.button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#back_button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    justify-content: flex-end;
}

#next_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

#submit_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    justify-content: flex-end;
}