<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="../static/js/main.js"></script>
{% block header %}
    <meta charset="UTF-8">
    <title>{% block title %}You vs Your Heros{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div id="content">
        <div id="inputBox">
            <img src="/static/img/logo.png" alt="logo" id="logo">
            <div id="nameFields">
                <h1 id="landingTitle">UVH Fitness</h1>
                <p id="landingDescription">Track your fitness journey and discover how you measure up to your idols. </br> Start your journey below</p>
                <p id="nameText">Name:</p>
                <input type="string" id="name" name="Name">
            </div>
            <div id="Strength">
                <h1>Strength</h1>
                <p>Max Curl Weight:</p>
                <input type="number" id="curl" name="Curl">
                <p>Max Squat Weight:</p>
                <input type="number" id="squat" name="Squat">
                <p>Max Flat Bench Weight:</p>
                <input type="number" id="bench" name="Bench">
            </div>
            <div id="Endurance">
                <h1>Endurance:</h1>
                <p>How Many Miles Can You Run Before Taking A Break?:</p>
                <input type="number" id="run" name="Run">
                <p>How Many Yards Can You Swim Before Taking A Break?:</p>
                <input type="number" id="swim" name="Swim">
                <p>How Many Feet Can You Climb Before Taking A Break?:</p>
                <input type="number" id="climb" name="Climb">
            </div>
            <div id="Agility">
                <h1>Agility:</h1>
                <p>How Fast Can You Run A 100m Sprint?:</p>
                <input type="number" id="sprint" name="Sprint">
                <p>How Many Inches Can You Jump (Horizontally)?:</p>
                <input type="number" id="jump" name="Jump">
                <p>What Is Your Reaction Time (In Seconds)?:</p>
                <input type="number" id="reaction" name="Reaction">
            </div>
            <div id="navButtons">
                <button class="button" id="back_button" onclick="backClick()">Back</button>
                <button class="button" id="submit_button" onclick="modifyJSON()">Submit</button>
                <button class="button" id="next_button" onclick="nextClick()">Next</button>    
            </div>
        </div>
      </div>
{% endblock %}
</html>