<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}You vs Your Heros{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
</head>
<body>
    <input type="string" id="name" name="Name">
    <input type="number" id="curl" name="Curl">
    <input type="number" id="squat" name="Squat">
    <input type="number" id="bench" name="Bench">
    <input type="number" id="run" name="Run">
    <input type="number" id="swim" name="Swim">
    <input type="number" id="climb" name="Climb">
    <input type="number" id="sprint" name="Sprint">
    <input type="number" id="jump" name="Jump">
    <input type="number" id="reaction" name="Reaction">
    <button class="button" id="submit_button">Submit</button>
</body>
</html>