<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="../static/js/main.js"></script>
{% block header %}
    <meta charset="UTF-8">
    <title>{% block title %}You vs Your Heros{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div id="content">
        <div id="gameContainer"></div>
        <div id="statsContainer"></div>
        <div id="summaryBox"></div>
    </div>
{% endblock %}
</html>